.hero-image {
    background-image: url(/assets/background.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }