asaaafaa
<!-- <p>add-product works!</p>
<div class="row">
    <form (ngSubmit)='updateproduct()' [formGroup]='EnterProductForm' novalidate class="form">
       Enter ID :  <input formControlName='Id' type="number" class="form-control" placeholder="ID">
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('Id')?.valid && productEditForm?.get('Id')?.touched">Id Required</div><br><br>
       Enter Name :  <input formControlName='Name' type="text" class="form-control" placeholder="Name">
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('Name')?.valid && productEditForm?.get('Name')?.touched">Name Required</div><br><br>
       Enter Manufacturer :<input formControlName='Manufacturer' type="text" class="form-control" placeholder="Manufacturer" >
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('Manufacturer')?.valid && productEditForm?.get('Manufacturer')?.touched ">Manufacturer Required</div> <br><br>
       Enter Description :<input formControlName='Description' type="text" class="form-control" placeholder="Description" >
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('Description')?.valid && productEditForm?.get('Description')?.touched">Description Required</div><br><br>
       Enter Category<input formControlName='Category' type="text" class="form-control" placeholder="Category">
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('Category')?.valid && productEditForm?.get('Category')?.touched">Category Required</div><br><br>
       Enter Short<input formControlName='ShortCode' type="text" class="form-control" placeholder="ShortCode">
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('ShortCode')?.valid && productEditForm?.get('ShortCode')?.touched">ShortCode Required</div><br><br>
       Enter Selling Price<input formControlName='SellingPrice' type="number" class="form-control" placeholder="SellingPrice">
       <div class="alert alert-danger"
       *ngIf="!productEditForm?.get('SellingPrice')?.valid && productEditForm?.get('SellingPrice')?.touched">SellingPrice Required</div><br><br>
         
        <br>
        <button type="submit" [disabled]="EnterProductForm.invalid" class="btn btn-info">Update Product List</button>
            <button type="button" (click)='reset()' class="btn btn-danger">Reset Form</button>
    </form>
    
</div><br> -->