<mat-toolbar color="primary" class="matToolbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
   
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="'/Home'">Home </a>
      <a mat-button [routerLink]="'/Category'">Category </a>
      <a mat-button [routerLink]="'/Product'"> Product </a>
     

     

    </div>
    <h1 class="wel" >
      Welcome

    </h1> 
    
  </mat-toolbar-row>

  
</mat-toolbar>


<mat-sidenav-container autosize >
  <mat-sidenav #sidenav mode="side" >
   
    <mat-nav-list >

      

      <mat-list-item [routerLink]="'Home'">
        Home <mat-icon mat-list-icon>home</mat-icon>
       
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'Category'">
       Category  <mat-icon mat-list-icon>category</mat-icon>
        <span *ngIf="isExpanded">Login</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'Product'">
        Product  <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <span *ngIf="isExpanded">Signup</span>
      </mat-list-item>
      
    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>


 